<div class="compare-item-wrapper">

    <div class="item-text text-1">
        <div class="item-title">{{ block.settings.title_1 }}</div>
        {{ block.settings.text_1 }}
    </div>
    <picture>
        <source media="(min-width: 750px)" srcset="{{ block.settings.image |  image_url: width: 200 }}">
        <source media="(max-width: 749px)" srcset="{{ block.settings.image |  image_url: width: 100 }}">
        <img
        src="{{ image |  image_url: width: 700  }}"
        alt=""
        width="700"
        height="400"
        loading="lazy">
    </picture>
    <div class="item-text text-2">
        <div class="item-title">{{ block.settings.title_2 }}</div>
        {{ block.settings.text_2 }}
    </div>
</div>
